<div class="header-background">
  <div class="header-container">
  <div routerLink="/" class="pagename">
    <p>w</p>
    <p>i</p>
    <p>r</p>
    <p>d</p>
    <p>e</p>
    <p>h</p>
    <p>n</p>
    <p>i</p>
    <p>x</p>
  </div>

  <div class="register-login">
    <div>
      Neu hier?
      <a routerLink="/register" routerLinkActive="link-clicked" ariaCurrentWhenActive="page">Registrieren</a>
    </div>
    <div class="btn-1" routerLink="/login" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Login</div>
  </div>
</div>
</div>
