@import "../../variables.scss";

.footer-background {
  background-color: $secondary;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  box-shadow: 2px 2px 20px 20px $secondary;
  position: fixed;
  bottom: 0;
  z-index: 2;

  .footer-content{
    display: flex;
    justify-content: space-between;
    width: $max-page;

    .footer-left {
      display: flex;
      align-items: baseline;
      position: relative;

      // img {
      //   background-position: bottom -5px;
      // }

      .copyright {
      font-weight: 600;
      color: $background;
      position: absolute;
      text-wrap: nowrap;
      bottom: 0;
      left: 102%;
    }

    }
  .footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  }
}
