<div class="footer-background">
  <div class="footer-content">

    <div class="footer-left">
      <img src="../../assets/img/Logo-03.png" alt="" height="40px" width="40px">
      <div class="copyright">
        © Sylvia Zartmann 2023
      </div>
    </div>

    <div class="footer-right">
      <a routerLink="/imprint" routerLinkActive="link-clicked" ariaCurrentWhenActive="page">Imprint</a>
      <a routerLink="/legal-notice" routerLinkActive="link-clicked" ariaCurrentWhenActive="page">Legal Notice</a>
    </div>

  </div>
</div>
