<div class="change-background">
  <div class="change-content">
    <form [formGroup]="ChangeData" (submit)="changePW($event)">
      <p>Wenn deine e-Mail Adresse bei uns registriert ist, bekommst du entsprechend eine Nachricht in dein Postfach.</p>
      <input formControlName="email" name="email" placeholder="e-Mail Adresse" type="email">
        <span *ngIf="submit && !backendValidEmail">E-Mail Adresse existiert nicht!</span>
      <button >Passwort ändern</button>
      <span *ngIf="sendData && backendValidEmail" class="successSpan">Änderungslink an e-Mail Adresse gesendet.</span>
    </form>
  </div>
</div>
