<div class="login-background">
  <div class="login-content">
    <form [formGroup]="FormData" (submit)="sendLogin($event)">
      <input name="email" formControlName="email" placeholder="e-Mail Adresse" type="email">
        <span *ngIf="submit && !validEmail">Ungültige Eingabe!</span>
      <input formControlName="password" placeholder="Passwort" type="password">
        <span *ngIf="submit && !validPassword">Ungültige Eingabe!</span>
        <span *ngIf="errorFromBackend">E-Mail oder Password ungültig!</span>
      <button class="btn-login">Login</button>
      <span *ngIf="validEmail && validPassword && sendData">Erfolgreich eingeloggt!</span>
    </form>

    <div class="register">
      <p>Noch keinen Account?!</p>
      <a routerLink="/register" routerLinkActive="link-clicked" ariaCurrentWhenActive="page">Registrieren</a>
    </div>
  </div>
</div>
