@import "../../variables.scss";

.videopage-background {
  display: flex;
  width: 100dvw;
  justify-content: center;
  padding-bottom: 180px;


  .videopage-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: $max-page;
    margin-top: 100px;
  }
}

.category-background {
  background-color: $dark-primary;
  width: calc($max-page - 100px);
  border-radius: 30px;
  box-shadow: 0 0 10px 30px $dark-primary;
  height: 300px;
  overflow-x: scroll;
  display: grid;



  .category-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: $text;
    z-index: 1;
  }

  .all-videos {
    display: flex;

    .video-content {
      display: flex;
      position: relative;
      height: 180px;
      width: 300px;
      padding: 0 5px;
    }
    video {
      height: 180px;
      width: 300px;
      border-radius: 10px;
      object-fit: cover;

    video::poster {
      height: 180px;
      width: 300px;
      border-radius: 10px;
      object-fit: cover;
    }
    }
  }
  h4 {
    margin: 5px 0 0 5px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    z-index: 1;
  }
}
div::-webkit-scrollbar {
  width: 10px;
  background-color: $background;
}

div::-webkit-scrollbar-thumb {
  background-color: $dark-primary;
  border-radius: 10px;
  border: 3px solid $background;
}

div::-webkit-scrollbar-track {
  background-color: $background;
  border-radius: 10px;
}
