@import "./variables.scss";

body {
  background-color: $background;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-behavior: smooth;
}

html {
  color: $text;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}

a:-webkit-any-link {
  color: $background;
  font-weight: 600;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
