<div class="register-background">
  <div class="register-content">
    <div class="register-input">
      <div>
        <input placeholder="Einen Vornamen" type="text">
          <span>Ungültige Eingabe!</span>
        <input placeholder="Einen Nachnamen" type="text">
          <span>Ungültige Eingabe!</span>
        <input placeholder="Geburtsdatum" type="date">
          <span>Ungültige Eingabe!</span>
      </div>
      <div>
        <input placeholder="e-Mail Adresse" type="email">
          <span>Ungültige Eingabe! Muss "&#64;" enthalten</span>
        <input placeholder="Passwort" type="password">
          <span>Ungültige Eingabe! Muss mind. 8 Zeichen lang sein.</span>
        <input placeholder="Passwort wiederholen" type="password">
          <span>Ungültige Eingabe! Nicht identisch.</span>
      </div>
    </div>


    <div class="btn-register">Registrieren</div>

  </div>
</div>
